@import 'vars';

.Checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    box-sizing: border-box;
}

.Checkout-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.title {
    font-size: $--lg;
    margin-bottom: 40px;
}

.Checkout-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    background-color: $--text-input-field;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bolder;
}

.order p span:nth-child(1) {
    font-size: $--md;
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: $--sm;
    color: $--very-light-pink;
}