@import 'vars';

.Nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid $--very-light-pink;
    height: 60px;
    width: calc(100%);
    position: fixed;
    top: 0%;
    background: $--white;
    z-index: 1;
}

.menu {
    display: none;
}

.menu-logo {
    width: 100px;
    cursor: pointer;
}

.navbar-left {
    display: flex;
}

.navbar-left .logo {
    width: 120px;
}

.navbar-left ul {
    margin-left: 32px !important;
}

.navbar-left ul,
.navbar-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-left ul li a,
.navbar-right ul li a {
    padding: 8px;
    text-decoration: none;
    color: $--very-light-pink;
    border: 1px solid $--white;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: $--hospital-green;
    border: 1px solid $--hospital-green;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-email {
    margin-right: 24px;
    color: $--very-light-pink;
    font-size: $--sm;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.navbar-email img{
    transform: rotate(90deg);
}

.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $--hospital-green;
    border-radius: 50%;
    font-size: $--sm;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
}

@media (max-width: 640px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }
}